extends base.pug

block content 
    <div class="sign_up_page">
        <div>
            <h1>Contact Us</h1>
        </div>

        <div>
            <form action="/contact" method="post">
                <div id='div1'>
                    <input type="text" name="fname" id="fname" placeholder="Enter Your First Name">
                    <input type="text" name="lname" id="lname" placeholder="Enter Your Last Name">
                </div>
                <div id='div2'>
                    <input type="email" name="email" id="email" placeholder="Enter Your Email">
                    <input type="email" name="cemail" id="cemail" placeholder="Confirm Email">
                </div>
                <div id='div3'>
                    <input type="number" name="c_number" id="c_number" placeholder="Enter Your Contact No.">
                    <input type="text" name="mage" id="mage" placeholder="Enter Your Age">
                </div>
                <div id='div4'>
                    <textarea name="txtarea" id="txtarea" cols="20" rows="7" placeholder="Enter Your Message"></textarea>
                </div>
                <div>
                    <button>Submit</button>
                </div>
            </form>
        </div>
    </div>
    block foot
       <footer>
        <ul>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="/">Help</a></li>
            <li><a href="/">Blog</a></li>
            <li><a href="/">Developers</a></li>
            <li><a href="/">Terms & Conditions</a></li>
            <li><a href="/">Privacy</a></li>
            <li><a href="/">Press</a></li>
            <li><a href="/">Privacy Notice</a></li>
        </ul>
    </footer>