extends base.pug

block content
    <section>
        <div>
            <h1>The simplest way to keep notes</h1>
        </div>
        <div>
            <p>All your notes, synced on all your devices. Get Simplenote now for iOS, Android, Mac, Windows, Linux, or
                in your browser.</p>
        </div>
        <div>
            <button><a href="/signup">Sign Up</a></button>
        </div>
    </section>

    <!-- This is main picture -->
    <div class="picture">
        <img src="/static/iphnew.png" alt="Not loaded">
    </div>

    <!-- This is Section-2 -->
    <div class="second_section">
        <div>
            <h1>Comprehensive underneath, simple on the surface</h1>
        </div>
        <div class="benefits_1">
            <div><i class="fa-solid fa-rotate " style="color:#4c74b8;"></i> <b> Use it everywhere</b>
                <p>Notes stay updated across all your devices, automatically and in real time. There's no “sync” button:
                    It just works.</p>
            </div>

            <div>
                <i class="fa-solid fa-tag" style="color:#4c74b8;"></i> <b> Stay Organized</b>
                <p>Add tags to find notes quickly with instant searching.</p>
            </div>

            <div>
                <i class="fa-solid fa-users" style="color:#4c74b8;"></i> <b> Work Together</b>
                <p>Share a to-do list, post some instructions, or publish your notes online.</p>
            </div>
        </div>
        <div class="benefits_2">
            <div>
                <i class="fa-solid fa-business-time" style="color:#4c74b8;"></i> <b> Go Back in time</b>
                <p>Notes are backed up with every change, so you can see what you noted last week or last month.</p>
            </div>

            <div>
                <i class="fa-solid fa-note-sticky" style="color:#4c74b8;"></i> <b> Markdown support</b>
                <p>Write, preview, and publish your notes in Markdown format.</p>
            </div>

            <div>
                <i class="fa-solid fa-code" style="color:#4c74b8;"></i> <b> it's free</b>
                <p>Apps, backups, syncing, sharing - it's all completely free.</p>
            </div>
        </div>
    </div>

    <!-- This is line -->
    <hr size="1" width="60%" color="light-grey">

    <!-- This is thrid section -->
    <div class="third_section">
        <div>
            <h1>What people are saying</h1>
        </div>
        <div class="p_opinions">
            <div>
                <p>If you're not using Simplenote, you're missing out.</p>
                <p><i>TechCrunch</i></p>
            </div>
            <div>
                <p>If you're looking for a cross-platform note-taking tool with just enough frills, it's hard to look
                    beyond Simplenote.</p>
                <p><i>MacWorld</i></p>
            </div>
            <div>
                <p>If you want a truly distraction-free environment then you can't do better than Simplenote for your
                    note-taking needs.</p>
                <p><i>Zapier</i></p>
            </div>
        </div>
    </div>


    <!-- This is fourth section -->
    <div class="fourth_section">
        <div>
            <h1>Available on all your devices</h1>
        </div>
        <div>
            <p>Download Simplenote for any device and stay in sync - all the time, everywhere.</p>
        </div>
    </div>

    <!-- This is buttons -->
    <div class="buttons">
        <div class="first_layer_buttons">
            <div>
                <i class="fa-brands fa-apple" style="color:white;"></i> Download on the <b>App Store</b>
            </div>
            <div>
                <i class="fa-brands fa-apple" style="color:white;"></i> Download on the <b>Mac Store</b>
            </div>
        </div>

        <div class="second_layer_buttons">
            <div>
                <i class="fa-solid fa-play" style="color:white;"></i> Download on the <b>Play Store</b>
            </div>
            <div>
                <i class="fa-brands fa-windows" style="color:white;"></i> Download on the <b>Windows Store</b>
            </div>
        </div>

        <div class="third_layer_buttons">
            <div>
                <i class="fa-brands fa-linux" style="color:white;"></i> Download for <b>Linux</b>
            </div>
        </div>
        <div id="link"><a href="/">Other Downloads</a></div>
    </div>
    block foot
       <footer>
        <ul>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="/">Help</a></li>
            <li><a href="/">Blog</a></li>
            <li><a href="/">Developers</a></li>
            <li><a href="/">Terms & Conditions</a></li>
            <li><a href="/">Privacy</a></li>
            <li><a href="/">Press</a></li>
            <li><a href="/">Privacy Notice</a></li>
        </ul>
    </footer>