extends base.pug

block content
    <div class="take_notes_page">
        <div>
            <input type="text" name="" id="input1" placeholder="Add Your Note Here">
        </div>
        <div id="buttons">
            <button id="btn1">Add Note</button>
            <button id="btn2">Clear Input</button>
        </div>
    </div>